*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sans;
}
.btn {
    padding: 14px 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
}
.tex_container{
    float: right;
    width: 50%;
    min-height: 808px;
    padding: 14%;
    font-weight: bold;
    margin-top: 8%;
}
.tex_container h1{
    margin-bottom: 10px;
    text-align: end;
}
.tex_container p{
    color: var(--Dark-02, #444343);
    text-align: end;
    font-weight: 400;
    font-size: 12px;
}
.tex_container  button{
    float: right;
}
header{
    position: relative;
    width: 100%;
    min-height: 808px;
    background-image: url("../images/banner/banner1.png");
}
#hero{
    position: relative;
    width: 100%;
    min-height: 808px;
    padding-left:14%;
}
#hero .tex_container h1, #hero .tex_container p{
    text-align: left !important
}
#hero .tex_container{
    padding: 14%;
}
#hero img{
    float: left;
    margin-top: 7%;
}